body {
    font-family: "transportmedium", Arial, Helvetica, sans-serif;
}

.main-wrapper {
    padding: 3% 5% 3% 5%;
}

.header-logo__container {
    border-left: 3px solid #1d70b8;
    padding-left: 1%;
    width: 100%;
}

.header-logo__container p {
    display: inline-block;
}

.main-title__container {
    width: 66.66%;
}

.main-title__container h1 {
    font-family: 'transport_heavyregular', Arial, Helvetica, sans-serif;
    font-size: 48px;
}

.sub-title__container {
    width: 66.66%;
}

.sub-title__container h2 {
    font-family: 'transport_heavyregular', Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.sub-title__container label {
    font-size: 16px;
    padding-right: 3%;
}

.sub-title__container a {
    color: #1d70b8;
}

.sub-title__container a:visited {
    color: #4c2c92;
}

#nino-input {
    display: block;
    height: 1.5rem;
    border: solid 1px grey;
}

#tax-credit-input {
    display: block;
    height: 1.5rem;
    border: solid 1px grey;
    width: 11rem;
}

.main-article__container {
    width: 66.66%;
}

.main-article__container .main-article__image {
    width: 20rem;
}

.main-article__button {
    margin-top: 1%;
    font-size: 16px;
    line-height: 1.1875;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    margin-bottom: 22px;
    padding: 8px 10px 7px;
    border: 2px solid transparent;
    border-radius: 0;
    color: #ffffff;
    background-color: #00703c;
    -webkit-box-shadow: 0 2px 0 #002d18;
    box-shadow: 0 2px 0 #002d18;
    text-align: center;
    vertical-align: top;
    cursor: pointer;
    -webkit-appearance: none;
}

article a {
    color: #1d70b8;
}

article a:visited {
    color: #4c2c92;
}

footer {
    background: #f3f2f1 !important;
    height: 500px;
    position: relative;
}

.footer-links__container li {}

.footer-links__container {
    float: left;
    width: 66.66%;
    padding-top: 15%;
}

.footer-links__container li {
    display: inline;
    padding-left: 4%;
}

.footer-links__container a {
    color: #0b0c0c;
}

.footer-copyWrite__container {
    float: right;
    width: 16.6%;
    background-image: url(../images/government-crest-footer-logo.png);
    background-size: 134px 135px;
    background-repeat: no-repeat;
    height: 400px;
    text-align: center;
    margin-top: 11%;
}

@media only screen and (max-width: 992px) {
    .sub-title__container {
        width: 90%;
    }
    .main-article__container {
        width: 90%;
    }
    .main-article__button {
        width: 90%;
        margin-top: 5%;
    }
    .footer-copyWrite__container {
        width: 100%;
    }
    .footer-links__container {
        width: 100%;
    }
    .footer-copyWrite__container {
        float: right;
        width: 68.6%;
        background-image: url(../images/government-crest-footer-logo.png);
    }
    .footer-links__container li {
        padding-left: unset;
    }
}


/*# sourceMappingURL=main-style.css.map */